MASTER_KEY=<your-secret-key>
ADMIN_TOKEN=<your-"x-admin"-token>
HTTP_BIND_ADDR=:7171
GITHUB_CLIENT_ID=<github creds for github OAuth>
GITHUB_CLIENT_SECRET=<github creds for github OAuth>
BASE_URL=http://localhost:7171
LOCAL_URL=http://localhost:7171
DB_USER=<username for access to db in docker>
DB_PASSWORD=<pw for access to db in docker>
DB_NAME=<db name in docker>
CONFIG_PATH=/app/config/local.yaml
REFRESH_KEY=<>
